.footer {
    margin-top: 3rem;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
    padding: 1rem;
  }
  .footer-logo {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .footer p {
    color: rgb(107, 114, 128);
    line-height: 1.625;
  }
  
  .footer-links ul,
  .footer-socialMedia ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 2rem 0 1rem;
    color: rgb(55, 65, 81);
    cursor: pointer;
  }
  .footer-socialMedia ul {
    display: flex;
    gap: 2rem;
  }
  
  .footer-socialMedia ul {
    margin-bottom: 2rem;
  }
  .footer-links ul li:hover {
    color: rgba(55, 65, 81, 0.75);
  }
  
  .footer-socialMedia ul li {
    opacity: 0.7;
  }
  .footer-socialMedia ul li:hover {
    opacity: 0.5;
  }